[submodule "racket-gui-101"]
	path = racket-gui-101
	url = https://github.com/dehidehidehi/racket-gui-101.git
[submodule "racket-mahjong"]
	path = racket-mahjong
	url = https://github.com/dehidehidehi/racket-mahjong.git
